.upper {
  display: flex;
  border: 6px solid hotpink;
}
.container-component-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 22%;
  border: 2px solid blue;
}
.container-component-2 {
  height: 45vh;
  width: 78%;
  border: 2px solid green;
}
.lower {
  display: flex;
}
.container-component-3 {
  height: 45vh;
  width: 100%;
  border: 2px solid orange;
}

/* /////////////////////////////////////////////////////// */

/* .form {
  margin-left: 6px;
}

.modal {
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  border: 2px solid red;
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 2.5;
}
table {
  border: 2px solid black;
  border-spacing: 10px;
} */


.container-component-1 {
border:2px solid chartreuse;
}
.container-component-2 {
  border:2px solid orangered;
}