* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  border: 2px solid red;
  height: 100vh;
  /* width: 100%; */
  /* width: 900px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* place-items: center; */
}
